In [1]:
import pandas as pd
df= pd.read_csv('cleandemp_data.csv')
df1 = df.copy()

In [2]:
df

,department,education,gender,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,Sales & Marketing,Master's & above,f,1,35,5.0,8,0,49.0,0
1,Operations,Bachelor's,m,1,30,5.0,4,0,60.0,0
2,Sales & Marketing,Bachelor's,m,1,34,3.0,7,0,50.0,0
3,Sales & Marketing,Bachelor's,m,2,39,1.0,10,0,50.0,0
4,Technology,Bachelor's,m,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...
45956,Sales & Marketing,Bachelor's,m,2,31,1.0,2,0,49.0,0
45957,Technology,Bachelor's,m,1,48,3.0,17,0,78.0,0
45958,Operations,Master's & above,f,1,37,2.0,6,0,56.0,0
45959,Analytics,Bachelor's,m,1,27,5.0,3,0,79.0,0
45960,HR,Bachelor's,m,1,27,1.0,5,0,49.0,0

In [3]:
df.filter(items=['is_promoted'])

       is_promoted
0                0
1                0
2                0
3                0
4                0
...            ...
45956            0
45957            0
45958            0
45959            0
45960            0

[45961 rows x 1 columns]

In [9]:
df1=df[(df['is_promoted'] > 0)]
df1

,department,education,gender,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
10,Sales & Marketing,Bachelor's,f,1,35,5.0,3,0,50.0,1
33,Sales & Marketing,Bachelor's,m,1,33,5.0,6,0,51.0,1
51,Sales & Marketing,Master's & above,m,1,50,4.0,17,0,47.0,1
57,Analytics,Bachelor's,m,1,30,3.0,7,0,84.0,1
59,Technology,Master's & above,m,1,34,5.0,7,0,78.0,1
...,...,...,...,...,...,...,...,...,...,...
45893,Sales & Marketing,Bachelor's,m,1,29,5.0,4,0,58.0,1
45916,Technology,Master's & above,m,1,54,4.0,7,0,81.0,1
45920,Procurement,Bachelor's,f,1,30,4.0,2,0,86.0,1
45947,Sales & Marketing,Bachelor's,m,1,59,3.0,11,0,65.0,1
45951,Sales & Marketing,Master's & above,m,1,34,3.0,7,0,60.0,1

In [10]:
X = df1.iloc[:,0:9]
y = df1['is_promoted']

In [6]:
X.head(1)

,department,education,gender,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score
0,Sales & Marketing,Master's & above,f,1,35,5.0,8,0,49.0

In [11]:
y

10       1
33       1
51       1
57       1
59       1
        ..
45893    1
45916    1
45920    1
45947    1
45951    1
Name: is_promoted, Length: 4037, dtype: int64

In [12]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [13]:
dm = DataFrameMapper([(['department',LabelEncoder()]),(["education",LabelEncoder()]),
                      (["gender",LabelEncoder()])])

In [14]:
dm

DataFrameMapper(drop_cols=[],
                features=[['department', LabelEncoder()],
                          ['education', LabelEncoder()],
                          ['gender', LabelEncoder()]])

In [15]:
ml = []
ml.append(['mapper',dm])
ml.append(['SC',StandardScaler()])
ml.append(['RF',RandomForestClassifier()])

In [16]:
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')

In [17]:
model = Pipeline(ml)
model.fit(X,y)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[['department', LabelEncoder()],
                                           ['education', LabelEncoder()],
                                           ['gender', LabelEncoder()]])),
                ('SC', StandardScaler()), ['RF', RandomForestClassifier()]])

In [18]:
dict(df1.iloc[10,:])

{'department': 'Operations',
 'education': "Bachelor's",
 'gender': 'm',
 'no_of_trainings': 1,
 'age': 35,
 'previous_year_rating': 4.0,
 'length_of_service': 6,
 'awards_won': 0,
 'avg_training_score': 57.0,
 'is_promoted': 1}

In [19]:
new={'department': 'Technology',
 'education': "Master's & above",
 'gender': 'm',
 'no_of_trainings': 1,
 'age': 34,
 'previous_year_rating': 5.0,
 'length_of_service': 7,
 'awards_won': 0,
 'avg_training_score': 78.0
 }

In [20]:
gf = pd.DataFrame(new,index=[0])
gf

,department,education,gender,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score
0,Technology,Master's & above,m,1,34,5.0,7,0,78.0

In [21]:
prediction=model.predict(gf)
print(prediction)
if (prediction[0]==0):
    print("is not pramoted")
else:
    print("is pramoted")

[1]
is pramoted

In [22]:
import pickle
import pandas as pd

In [23]:
with open("final_model.sav",mode = 'wb') as f1:
    pickle.dump(model,f1)